/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    background-color: white;
    border: none;
    border-bottom: 1px solid #E7E7E7;
    font-family: 'Inter', sans-serif; /* Inter 폰트 적용 */
}

.alarm-container,
.user-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.alarm-img,
.user-img,
.logout-img {
    width: 1rem;
    height: 1rem;
}

.logout-img-box {
	cursor: pointer;
	margin-right : 3rem;
}

.alarm-count {
    background-color: transparent; /* 배경색 제거 */
    color: #ff4444; /* 흰색에서 빨간색으로 변경 */
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: bold;
    min-width: 18px;
    text-align: center;
    display: inline-block;
}

.alarm-count.hidden {
    display: none;
}