@charset "UTF-8";

.custom-dropdown {
  display: flex;
  align-items: center;
  margin-right: 1rem; 
}


.dropdown-box {
  position: relative; /* 메뉴 위치 기준 */
}
.custom-dropdown-name{
	 align-self: center;
    margin-right: 1rem;
	 white-space: nowrap; 
}

.dropdown-toggle {
  background: #fff;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  font-size: 1rem;
  color: #7B7B7B;
  padding: 0.4rem 1rem 0.4rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;  /* 텍스트 왼쪽, 화살표 오른쪽 */
  min-width: 180px;
}

.dropdown-toggle img {
  width: 14px;
  height: 14px;
  pointer-events: none;  /* 클릭 시 사라지지 않게 */
  transition: transform 0.2s;
}

.dropdown-toggle.active img {
  transform: rotate(180deg); /* 열렸을 때 아이콘 회전 */
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  list-style: none;
  padding: 0;
  min-width: 180px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  z-index: 10;
}

.dropdown-menu li {
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  font-size: 0.95rem;
  color: #333;
}

.dropdown-menu li:hover {
  background: #deefec;
}

.dropdown-menu li.active {
  background: #deefec;
  font-weight: bold;
}
