* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display:flex;
}

.sidebar-container {
    background-color: blue;
    width: 13vw;
    height: 100%;
}

.right-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex:1;
}

.header-container {
    height: 8vh;
    background-color: red;
}

.content-container {
    background-color: black;
    flex:1;
}