<?xml version="1.0" encoding="UTF-8"?>
<!-- 작성자 : 서샘이 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="app.domains.maintenance.dao.MaintenanceRepository">

		<resultMap type="app.domains.maintenance.model.Maintenance" id="MaintenanceMap">
				 <result property="requestId" column="request_Id" />
				 <result property="assetName" column="asset_name" />
				 <result property="assetKind" column="asset_kind" />
				 <result property="company" column="company"/>
				 <result property="parts" column="parts"/>	
				 <result property="maintType" column="type"/>
				 <result property="maintStatus" column="status"/>
				 <result property="maintDate" column="maint_date"/>
				 <result property="adminName" column="admin_name"/>
				 <result property="rnum" column="rnum" />
				 <result property="createdAt" column="created_at"/>
				 <result property="owner" column="owner" />
		</resultMap>
		
		<select id="searchMaintList" parameterType="app.domains.maintenance.model.MaintSearch"
		 resultMap="MaintenanceMap">
		
			  SELECT * FROM (
				    SELECT t.*, ROWNUM rnum
				    FROM (
						      SELECT 
						        m.request_id,
				       			a.name AS asset_name,
				        		a.category AS asset_kind,
						        LISTAGG(p.name, ', ') WITHIN GROUP (ORDER BY p.name) AS parts,
						        m.type,
						        m.status,
						        NVL(TO_CHAR(m.resolved_at, 'YYYY.MM.DD'), '') AS maint_date,				        
						        u.name AS admin_name,
						        a.company,
								TO_CHAR(m.created_at, 'YYYY.MM.DD') AS created_at,
								a.owner
						        
						      FROM maintenance m
						      JOIN asset a ON a.asset_id = m.asset_id
						      JOIN part p ON p.part_id = m.part_id
						      JOIN users u ON u.user_id = m.admin_id
						      <!-- 동적 where 절 있으면 적용되고 없으면 적용되지 않는 myBatis 동적 sql이다  -->
						      <where>
					      		
								<if test='searchType != null and searchType.equals("assetName") and keyword != null and keyword != ""'>
								    AND UPPER(a.name) LIKE UPPER(CONCAT('%', CONCAT(#{keyword}, '%')))
								</if>
								<if test='searchType != null and searchType.equals("adminName") and keyword != null and keyword != ""'>
								    AND UPPER(u.name) LIKE UPPER(CONCAT('%', CONCAT(#{keyword}, '%')))
								</if>
							
								<if test='searchType != null and searchType.equals("owner") and keyword != null and keyword != ""'>
								    AND a.owner LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
								</if>

						      		<if test="assetKind != null and assetKind != '' ">
						      					AND a.category = #{assetKind}
						      		</if>
						      		<if test="maintStatus != null and maintStatus != '' ">
						      					AND m.status = #{maintStatus}
						      		</if>
						      		<if test="company != null and company != '' ">
						      					AND a.company = #{company}
						      		</if>
						      </where>		 
						      GROUP BY m.request_id, a.name, a.category, m.type, m.status, m.resolved_at
						      , u.name, a.company, m.created_at, a.owner
							<choose>
							    <when test="orderBy == 'createdAtAsc'">
							        ORDER BY m.created_at ASC
							    </when>
							    <when test="orderBy == 'createdAtDesc'">
							        ORDER BY m.created_at DESC
							    </when>
							    <otherwise>
							        ORDER BY m.request_id DESC
							    </otherwise>
							</choose>

				    ) t
				    WHERE ROWNUM &lt;= #{endRow}
				  )
				WHERE rnum &gt;= #{startRow}
		</select>
		
		
		<select id="getSearchCount" resultType="int">
				SELECT COUNT(DISTINCT m.request_id)
			    FROM maintenance m
			    JOIN asset a ON a.asset_id = m.asset_id
			    JOIN users u ON u.user_id = m.admin_id
			      <where>
				      						
								<if test='searchType != null and searchType.equals("assetName") and keyword != null and keyword != ""'>
								    AND UPPER(a.name) LIKE UPPER(CONCAT('%', CONCAT(#{keyword}, '%')))
								</if>
								<if test='searchType != null and searchType.equals("adminName") and keyword != null and keyword != ""'>
								    AND UPPER(u.name) LIKE UPPER(CONCAT('%', CONCAT(#{keyword}, '%')))
								</if>
								<if test='searchType != null and searchType.equals("owner") and keyword != null and keyword != ""'>
								    AND a.owner LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
								</if>
						      		
						      		<if test="assetKind != null and assetKind != '' ">
						      					AND a.category = #{assetKind}
						      		</if>
						      		<if test="maintStatus != null and maintStatus != '' ">
						      					AND m.status = #{maintStatus}
						      		</if>
						      		<if test="company != null and company != '' ">
						      					AND a.company = #{company}
						      		</if>
				  </where>		 
			    
		</select>
		
		<select id="getAssetCategoryList" resultType="String">
					SELECT DISTINCT a.category FROM maintenance m JOIN asset a ON a.asset_id = m.asset_id
		</select>
		
		<select id="getCompanyList" resultType="String">
		SELECT DISTINCT a.company FROM maintenance m JOIN asset a ON a.asset_id = m.asset_id
		</select>
		
<select id="findForExport" resultType="app.domains.maintenance.model.Maintenance">
  SELECT 
         m.request_id      AS requestId,
         a.name            AS assetName,
         a.category        AS assetKind,
         a.company         AS company,
         m.type            AS maintType,
         m.status          AS maintStatus,
         TO_CHAR(m.resolved_at, 'YYYY-MM-DD') AS maintDate,
         u.name            AS adminName,
         a.owner 			AS owner 
  FROM maintenance m
  JOIN asset a ON a.asset_id = m.asset_id
  JOIN users u ON u.user_id = m.admin_id
  WHERE 1=1
    <if test="keyword != null and keyword != ''">
      AND a.name LIKE '%' || #{keyword} || '%'
    </if>
    <if test="assetKind != null and assetKind != ''">
      AND a.category = #{assetKind}
    </if>
    <if test="company != null and company != ''">
      AND a.company = #{company}
    </if>
    <if test="maintStatus != null and maintStatus != ''">
      AND m.status = #{maintStatus}
    </if>
  ORDER BY m.resolved_at DESC
</select>

		
		
</mapper>